* {
  margin: 0;
  padding: 0;
}

.site-header {
  padding: 30px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.item {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: rgba(102, 102, 102, 0.85);
}

.hero {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  margin-top: 100px;
  width: 450px;
  height: 10px;
}

.subtitle h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  /* or 121% */
  letter-spacing: 0.25px;
  color: #4A4A4A;
}

.subtitle p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  padding: 25px 0;
  color: #434A54;
}

.contact-2 {
  margin-top: 70px;
}

.hero-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.subtitle-2 {
  width: 537px;
  height: 300px;
}

.subtitle-2 h2 {
  font-size: 36px;
  line-height: 44px;
  /* or 121% */
  letter-spacing: 0.25px;
  color: #4A4A4A;
}

.subtitle-2 p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  width: 450px;
  height: 90px;
  color: #434A54;
}

.href {
  margin-top: 40px;
}

.href a {
  text-decoration: none;
  color: blue;
}

.hero-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-3 h2 {
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 121% */
  letter-spacing: 0.25px;
  color: #4A4A4A;
}

.hero-3 p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  color: #434A54;
}

.href-2 {
  padding: 30px 0;
}

.href-2 a {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.25px;
  color: #1D6FF3;
}

.hero-4 {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 90px 0;
  padding-left: 50px;
}

.subtitle-box {
  position: relative;
  left: 13px;
  bottom: 70px;
  padding-left: 20px;
  width: 280px;
  height: 214px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 0px;
}

.subtitle-box h2 {
  font-size: 24px;
  line-height: 31px;
  /* or 130% */
  letter-spacing: 0.25px;
  color: #4A4A4A;
}

.subtitle-box p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  /* or 171% */
  color: #434A54;
}

strong {
  font-size: 24px;
  line-height: 29px;
  /* or 121% */
  letter-spacing: 0.25px;
  color: #4A4A4A;
}

.contact-4 {
  width: 330px;
}

.hero-df {
  display: flex;
  padding-left: 49px;
  align-items: center;
  gap: 50px;
}

.site-section-5 {
  background: #EEEEEE;
  padding: 50px 0;
}

.hero-5 {
  display: flex;
  align-items: center;
}

.subtitle-5 h2 {
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 121% */
  letter-spacing: 0.25px;
  color: #4A4A4A;
}

.subtitle-5 p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  color: #434A54;
}

.site-input {
  padding-left: 400px;
}

.input {
  padding: 5px 15px;
  outline: none;
}

.site-input a {
  border: 1px solid #1D6FF3;
  background-color: #1D6FF3;
  color: #fff;
  padding: 5px 20px;
  text-decoration: none;
}

.site-footer {
  padding: 100px 0;
}

.footer {
  display: flex;
  gap: 130px;
}

strong {
  position: relative;
  bottom: 15px;
}

ul {
  list-style: none;
}

ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height, or 171% */
  letter-spacing: 0.25px;
  text-decoration: none;
  color: #637280;
}

.chiziq {
  position: absolute;
  margin-top: 15px;
  width: 30px;
  height: 3px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

.li-df {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 40px 0;
}/*# sourceMappingURL=main.css.map */